/* CSS reset inspired by:                             */
/* https://meyerweb.com/eric/tools/css/reset/         */
/* https://www.joshwcomeau.com/css/custom-css-reset/  */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    line-height: calc(1em + 0.4rem);
}

body {
	-webkit-text-size-adjust: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    text-wrap: balance;
}

p, li, blockquote {
    overflow-wrap: break-word;
    text-wrap: pretty;
    hyphens: auto;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

/* End CSS reset */

	
@font-face {
    font-family: Entypo;
    src: url('/asset/entypo.eot');
    src: url('/asset/entypo.eot?#iefix') format('embedded-opentype'),
         url('/asset/entypo.woff') format('woff'),
         url('/asset/entypo.ttf') format('truetype'),
         url('/asset/entypo.svg') format('svg');
}

@font-face {
    font-family: Entypo Social;
    src: url('entypo/entypo-social.eot');
    src: url('entypo/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('entypo/entypo-social.woff') format('woff'),
         url('entypo/entypo-social.ttf') format('truetype'),
         url('entypo/entypo-social.svg') format('svg');
}
    
:root {
    /* hardcoded colors */
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #616161;
    --color-light-gray: #999;
    --color-faint-gray: #ccc;
    --color-red: #e54028;
    --color-orange: #f18d05;
    --color-dark-green: #32742c;
    --color-green: #61ae24;
    --color-light-green: #d0d102;
    --color-dark-blue: #113f8c;
    --color-blue: #00a1cb;
    --color-teal: #01a4a4;
    --color-pink: #d70060;
        
    /* semantic colors */
    --color-main-text: var(--color-black);
    --color-main-background: var(--color-white);
    --color-nav-text: var(--color-white);
    --color-nav-background: var(--color-gray);
    --color-primary: var(--color-green);
    --color-secondary: var(--color-blue);
    --color-tertiary: var(--color-pink);
    --color-stroke: var(--color-light-gray);
    --color-thin-stroke: var(--color-faint-gray);
    
    /* hardcoded fonts */
    --font-meta-serif: ff-meta-serif-web-pro, serif;
    --font-meta-condensed: ff-meta-web-pro-condensed, sans-serif;
    --font-meta-headline: ff-meta-headline-web-pro, sans-serif;
    
    /* semantic fonts */
    --font-primary: var(--font-meta-serif);
    --font-secondary: var(--font-meta-condensed);
    --font-fancy: var(--font-meta-headline);
}

body {
    font-family: var(--font-primary);
    font-size: 0.875em; /* 4.375vw; */ /* 14 ÷ 320 × 100 = 4.375vw */ /* 16px·0.875=14px */
    -webkit-font-feature-settings: "kern", "liga", "onum";
    -moz-font-feature-settings: "kern", "liga", "onum";
    font-feature-settings: "kern", "liga", "onum";

    background-color: var(--color-nav-background);
}

main {
    width: 20.057em; /* 14px·22.857=320px */
    margin: auto;
    padding: 1.4em;

    color: var(--color-main-text);
    background-color: var(--color-main-background);
    
    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
    }
    
    h1 {
        font-family: var(--font-fancy);
        font-weight: normal;
        font-size: 1.571em; /* 14px·1.375=22px */
        margin: 0 0 0.255em; /* 1.571em·0.255=0.4em */
        border-bottom: 1px solid var(--color-stroke);
        padding-right: 25px; /* Give room for icon on right, e.g. on featured pages */
    }
    
    h2 {
        font-family: var(--font-fancy);
        font-weight: normal;
        font-size: 1.285em; /* 14px·1.285=18px */
        margin: 1em 0 0.777em; /* 18px·0.777=14px */
        border-bottom: 1px solid #ccc;
    }
            
    h3 {
        -webkit-font-feature-settings: "kern", "liga", "c2sc", "smcp";
        -moz-font-feature-settings: "kern", "liga", "c2sc", "smcp";
        font-feature-settings: "kern", "liga", "c2sc", "smcp";
        font-weight: normal;
        font-size: 1em; /* 14px·1=14px */
        margin: 1em 0 0; /* 14px·1=14px */
    }
    
    h4, h5, h6 {
        font-size: 1em; /* 14px·1=14px */
        margin: 1em 0 0; /* 14px·1=14px */
    }
        
    h2 + p .main-topic {
        font-family: var(--font-secondary);
        font-size: 0.857em; /* 14px·0.857=12px */
        display: block;
        margin: -0.75em 0 1em 1.4em;
    }
        
    h3 + p {
        margin: 0 0 1em 1.4em;
        color: #888;
        }
        
    h3 + p .main-topic {
        font-family: var(--font-secondary);
        font-size: 0.857em; /* 14px·0.857=12px */
        display: block;
    }
    
    a {
        color: var(--color-primary);
    }
    
    a.external, a.rtBibleRef {
        color: var(--color-secondary);
    }
    
    a.broken {
        color: var(--color-tertiary);
    }

    p, li, blockquote {
        hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
    }
    
    p {
        margin: 1em 0;
    }
    
    ul {
        margin: 1em 0;
        
        li {
            margin-left: 2em;
            list-style-type: disc;
        }
    }
    
    
    ol {
        margin: 1em 0;
    
        li {
            margin-left: 2em;
            list-style-type: decimal;
            
            li {
                list-style-type: lower-alpha;
                
                li {
                    list-style-type: lower-roman;
                }
            }
        }
    }
    
    th, td {
        text-align: left;
        vertical-align: top;
        padding: 0;
    }
    
    th {
        font-family: var(--font-fancy);
        width: 20%;
        font-weight: normal;
        padding: 0.5em 1em;
    }
    
    td {
        padding: 0.5em 1em;
    }
    
    hr {
        color: var(--color-thin-stroke);
        border: none;
        height: 1px;
        border-top: 1px dashed var(--color-thin-stroke);
    }
    
    mark {
        /* TODO: make this a variable — what even is this color? */
        background-color: rgba(209, 209, 0, 0.3);
    }
}

header, nav, footer {
    margin: 0;
    padding: 1em;

    color: var(--color-nav-text);
    a { color: var(--color-nav-text); }
}

header {
    a {
        font-family: var(--font-primary);
        font-feature-settings: "smcp", "c2sc";
        font-weight: normal;
        text-decoration: none;
        
        &:before {
            font-family: Entypo;
            content: '\2712' !important;
            font-weight: normal;
            font-style: normal;
            display: inline-block;
            text-decoration: none !important;
            text-indent: 0;
            vertical-align: -0.166rem !important;
            font-size: 200%;
            padding-right: 0.1em;
        }
    }
}




